html, body, #root, .App {
  height: 100%;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.App {
  text-align: center;
}
img {
  max-width: 450px;
  vertical-align: middle;
}
@media (max-width: 500px) {
  img {
    width: 100%;
  }
}
.particles {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.content {
  min-height: calc(100% - 121px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.signin {
  display: flex;
  align-items: center;
}