body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right,#258060, rgb(130, 203, 231));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button {
  outline: 0;
  border: none;
  cursor: pointer;
}
input {
  border: none;
}